@{
    bool mountVue = false;
    ViewData["MountVue"] = mountVue;
}

@if (mountVue)
{
    ViewData["Title"] = "No SPA Page compiled";
    <home msg="This Message is set from NoSpa/index.html"></home>
    <slider v-model="value"></slider>
    <h1 id="slidervalue">{{value}}</h1>
    @section scripts {
        <script lang="javascript">
            var components = window.__getComponents();  // test it */
        </script>
    }
}
else
{
    ViewData["Title"] = "No SPA Page manually";
    <div id="homenospa" init="This Message is set from NoSpa/index.html")"></div>
    <div id="slider" v-prop:value="66" v-event:input="setSliderValue" tooltip-styles="{ 'backgroundColor': 'red', 'borderColor': 'red' }"></div>
    <h1 id="slidervalue">??</h1>
    @section scripts {
        <script lang="javascript">
            window.__createComponent("Home", "#homenospa");
            window.__createComponent("Slider", "#slider");
            var sliderValue = document.getElementById("slidervalue");

            function setSliderValue(inputValue) {
                sliderValue.innerText = inputValue;
            } 
        </script>
    }
}
<button type="button" class="btn btn-primary" onclick="alert('pure Bootstrap Button clicked')">Pure Bootstrap Button</button>
